<div class="row"  id="navBar">
 <div class="col-xs-12 col-lg-3 navSubDiv" id="todayDate"></div>
        <div class="col-xs-3 col-lg-3 navSubDiv" id="weatherDeatils"></div>
        <div class="col-xs-3 col-lg-3 navSubDiv"></div>
        <div class="col-lg-3 actionDiv" >
        <div class="col-lg-8" style="text-align:center;padding-top:5px;"><p>Welcome {{userName}}</p></div>
        <div class="col-lg-4"><button class="btn btn-warning" ng-click="logout()">Logout</button></div>
        </div>
      </div>



      <link rel="stylesheet" href="./css/listOption.css">


<div class="row" id="headDiv">
	<LEGEND>Select Option</LEGEND>	
</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
	<div class="col-lg-4">
		<a href="#/addProject"><div class="thumbnail">
      <img src="./images/add_project.png" alt="...">
      <div class="caption">
        <h4>Add Project</h4>
      
      </div>
    </div> </a>
    </div>
   
	<div class="col-lg-4"><a href="#/listProject"><div class="thumbnail">
      <img src="./images/list_project.png" alt="...">
      <div class="caption">
        <h4>List Project</h4>
      
      </div>
    </div> </a>
    </div>
   
	<div class="col-lg-4">
	<a href="#/addCustomField/master"><div class="thumbnail">
      <img src="./images/add_custom_field.png" alt="...">
      <div class="caption">
        <h4>Add Custom Field</h4>
      
      </div>
    </div> </a>
	</div>
</div>
<div class="col-lg-3"></div>
</div>