<link rel="stylesheet" href="./css/projectCode.css">
<div class="row" id="headDiv">
	<LEGEND>Documents</LEGEND>	
</div class="loaderDiv">
<div>
<img id="mydiv"  src="./images/loading_img.gif" />
</div>
<div class="row">

<div class="col-lg-10" style="font-size:1.3em;"><code class=".warning">Directory: {{curDir}}</code></div>

</div><hr>
<div class="row">
<div class="col-lg-10">
	<button class="btn btn-danger" ng-click='goBack()'>
<span class=" glyphicon glyphicon-circle-arrow-left"></span>
  Back</button>
  <hr>
</div>
<div class="col-lg-2">
<button class="btn btn-info" data-toggle="modal" data-target="#uploadModal">
<span class="glyphicon glyphicon-cloud-upload"></span>
upload File</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-plus-sign"></span> Create Folder</button>
<hr>
</div>
<hr>

<div class="col-lg-2"></div>
<div class="col-lg-8">
<table class="table" id='dataTable'>
<tr class="success">
  <th style="color:#4169E1">{{projectName}}</th>
  <th style="text-align:right;padding-right:10px;">Last Modified</th>
  <th style="text-align:right;padding-right:10px;">Download</th>
</tr>
<tr class=info id="docsDiv" style="font-size:1.2em;" ng-repeat="files in fileStructure | filter : '!.git' ">
	<td>
	<span class="glyphicon glyphicon-folder-open" ng-show=!{{files.isFile}}>&nbsp</span>
	<span class="glyphicon glyphicon-file" ng-show={{files.isFile}}>&nbsp</span>
	<a ng-show=!{{files.isFile}} ng-click="getFiles(files.address,files.name)">{{files.name}}</a>
	<a ng-show={{files.isFile}} >{{files.name}}</a>
	</td>
   <td  style="text-align:right">
  <span ng-show={{files.isFile}}>{{files.time}}</span>
  </td>
  <td style="text-align:right">
    <span class="glyphicon glyphicon-download" ng-show={{files.isFile}}></span>
  </td>
</tr>
</table>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" ng-click="redirectToupload()">Add Folder</h4>
      </div>
      <div class="modal-body">
			<form role="form">
			  <div class="form-group">
			    <label for="folderName">Folder Name</label>
			    <input type="text" class="form-control" id="folderName" ng-model="folderName">
			  </div>
			  <button type="submit" class="btn btn-success" ng-click="addFolder()">Add Folder</button>
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Upload File</h4>
      </div>
      <div class="modal-body">
      		    <form  name="upload_form">
                <input class="form-control" 
               type="file"
               ngf-select
               ng-model="file"
               name="file"
               ngf-pattern="'*/*'"
               accept="*/*"
               ngf-max-size="50MB"
               />
            <!-- Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file"/> -->
         
            <button type="submit" class ="btn btn-primary" ng-click="uploadFile()">submit</button>
            <p>{{progress}}</p>
            <div class="progress">
			  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
			  aria-valuemin="0" aria-valuemax="100" ng-style="myStyle">
			  </div>
			</div>
    </form>

      </div>
    </div>

  </div>
</div>