<link rel="stylesheet" href="./css/viewProject.css">
      


<!--Code for navbar -->
      <div class="row"  id="navBar">
        <div class=" col-lg-3 navSubDiv"></div>
        <div class=" col-lg-3 navSubDiv" ></div>
        <div class=" col-lg-3 navSubDiv"></div>
        <div class="col-lg-3 actionDiv" >
        <div class="col-lg-8" style="text-align:center;padding-top:5px;"><p>Welcome {{userName}}</p></div>
        <div class="col-lg-4"><button class="btn btn-warning" ng-click="logout()">Logout</button></div>
          
        </div>
      </div>




<!--code for Displaying Project Info-->
<div class="row" id="headDiv">
<LEGEND>Project Details</LEGEND>
</div>
<div class="row">
	<div class="col-lg-2"> </div>
	<div class="col-lg-8">
  <table class="table table-bordered" >
    <th style="text-align:center;">
      Field
    </th>
    <th style="text-align:center;">
      Value
    </th>
    <tr >
      <td class="danger"><b>Project Code</b></td>
      <td class="success" >{{projectDetail.aspireProjectName}}</td>
    </tr>
    <tr >
      <td class="danger"><b>Project Name</b></td>
      <td class="success" >{{projectDetail.projectName}}</td>
    </tr>
        <tr >
      <td class="danger col-lg-6"><b>Project Description</b></td>
      <td class="success" >{{projectDetail.projectDescription}}</td>
    </tr>
        <tr >
      <td class="danger"><b>Customer</b></td>
      <td class="success" >{{projectDetail.clientName}}</td>
    </tr>
        <tr >
      <td class="danger"><b>Project Owner</b></td>
      <td class="success" >{{projectDetail.projectOwner}}</td>
    </tr>
        <tr >
      <td class="danger"><b>Account Manager</b></td>
      <td class="success" >{{projectDetail.accountManager}}</td>
    </tr>
        <tr >
      <td class="danger"><b>Start Date</b></td>
      <td class="success" >{{customStartDate}}</td>
    </tr>
        <tr>
      <td class="danger" ><b>End Date</b></td>
      </td>
      <td class="success" >{{customEndDate}}</td>
    </tr>
    <tr>
      <td class="danger"><b>Project Managers</b></td>
      <td class="success" >
         <ul ng-repeat="team in projectDetail.teamMembers">
        <li>{{team.memberName}}</li>
      </ul>
      </td>
    </tr>
  </table>
<!-- 
		<div class="panel panel-info">
  		<div class="panel-heading">
    	<h3 class="panel-title"><b>Project Code</b></h3>
  		</div>
  		<div class="panel-body">
    	{{projectDetail.aspireProjectName}}
  		</div>
  		<div class="panel-heading">
    	<h3 class="panel-title"><b>Project Name</b></h3>
  		</div>
  		<div class="panel-body">
    	{{projectDetail.projectName}}
  		</div>
  		<div class="panel-heading">
    	<h3 class="panel-title"><b>Project Description</b></h3>
  		</div>
  		<div class="panel-body">
    	{{projectDetail.projectDescription}}
  		</div>
  		<div class="panel-heading">
    	<h3 class="panel-title"><b>Customer</b></h3>
  		</div>
  		<div class="panel-body">
    	{{projectDetail.clientName}}
  		</div>
      <div class="panel-heading">
      <h3 class="panel-title"><b>Project Owner</b></h3>
      </div>
      <div class="panel-body">
      {{projectDetail.projectOwner}}
      </div>
      <div class="panel-heading">
      <h3 class="panel-title"><b>Account Manager</b></h3>
      </div>
      <div class="panel-body">
      {{projectDetail.accountManager}}
      </div>
      <div class="panel-heading">
      <h3 class="panel-title"><b>Start Date</b></h3>
      </div>
      <div class="panel-body">
      {{customStartDate}}
      </div>
      <div class="panel-heading">
      <h3 class="panel-title"><b>End Date</b></h3>
      </div>
      <div class="panel-body">
      {{customEndDate}}
      </div>
  		<div class="panel-heading">
    	<h3 class="panel-title"><b>Project Manager(s)</b></h3>
  		</div>
  		<div class="panel-body">
      <ul ng-repeat="pm in projectDetail.projectManagers">
        <li>{{pm.pmName}}</li>
      </ul>
  		</div>

		<div class="panel-heading">
    	<h3 class="panel-title"><b>Team members</b></h3>
  		</div>
  		<div class="panel-body">
    	 <ul ng-repeat="team in projectDetail.teamMembers">
        <li>{{team.memberName}}</li>
      </ul>
  		</div>

		</div>

		

	 -->

          <div class="panel-body">
          <button class="btn btn-primary" ng-click="redirectToEditProject()">Edit Details</button>
          <button class="btn btn-success" ng-click="redirectToProjectCode()">View Documents</button>
          </div>
   
</div>
</div>